.section-aboutme
  padding-top: 75px
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  align-items: flex-start
  justify-content: center

  .info
    width: 400px
    margin-right: 32px

    ul
      margin: 0
      margin-bottom: 32px
      padding: 0
      list-style: none
      display: flex
      flex-direction: column
      flex-wrap: nowrap
      align-items: flex-start
      justify-content: flex-start

      li
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        align-items: flex-start
        justify-content: center

        .name
          width: 100px
          margin-right: 8px
          font-weight: bold

        .value
          flex-grow: 1
          font-weight: none

  .content
    width: 600px

    h1:first-child
      margin-top: 0


